Thumbs.db

# ignore jenkins build info
/build.prop

# package-lock.json
package-lock.json

# ignore node_modules created by grunt, but not more deeply-nested node_modules
/node_modules
/npm-debug.log

# ignore node_modules inside src
/src/node_modules

# ignore files copied from node_modules to src/thirdparty
/src/thirdparty/CodeMirror
/src/thirdparty/codemirror-addon-toggle-comment
/src/thirdparty/less.min.js
/src/thirdparty/acorn
/src/thirdparty/create-react-class.js
/src/thirdparty/immutable.js
/src/thirdparty/react-dom-test-utils.js
/src/thirdparty/react-dom.js
/src/thirdparty/react.js

# Files build by scripts
/src/thirdparty/semver.browser.js

# ignore compiled files
/dist/
/dist-build/
/src/.index.html
/src/styles/brackets.min.css
/src/styles/brackets.min.css.map

# ignore everything in the dev extension directory EXCEPT the README
# (so that the directory is non-empty and can be in git)
/src/extensions/dev/*
!/src/extensions/dev/README.*
/src/extensions/default/quadre-eslint
/src/extensions/default/quadre-git

/src/extensions/disabled

# ignore .disabled file for default extensions
/src/extensions/default/*/.disabled

# generate through grunt
/src/config.json

#OSX .DS_Store files
.DS_Store

# unit test working directory
/test/results
/test/temp

# Netbeans
/nbproject

# PhpStorm
.idea

# Files that can be automatically downloaded that we don't want to ship with our builds
/src/extensibility/node/node_modules/request/tests/
